
@{
    ViewBag.Title = "Registration";
}


<p>Enter information below.</p>
<form>
    Email:<br>
    <input type="text"><br>
    User password:<br>
    <input type="password" name="psw"><br>
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    gender:<br>
    <input type="radio" name="gender" value="male" checked>
    <input type="radio" name="gender" value="female"><br>
    <input type="submit" value="submit">

</form>

